@using UsedBookStore.Web.Models
@model ShoppingCartItem

    <h5 class="fw-light">Shopping cart</h5>
    @if (ViewBag.ShoppingCart == null)
    {
        <p>Your shopping cart is empty</p>
    }
    else
    {
        <ul class="list-group list-group-flush">

            @foreach (var item in ViewBag.ShoppingCart)
            {

                <div>

                <li class="list-group-item">
                    <h5>@item.Book.Title</h5>
                    <p>@item.Book.Price SEK - Amount: @item.Quantity</p>
                </li>
        </div>
            }
                </ul>
    }
    </div>
