@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Used Book Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            @if (SignInManager.IsSignedIn(User))
            {
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter by genres</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="1">Horror</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="2">Fantasy</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="3">Drama</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="4">YA</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="5">Childrens</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="6">Crime</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="7">Non fiction</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="8">Romance</a>
                            <a class="dropdown-item" asp-controller="Genres" asp-action="Index" asp-route-id="9">Classics</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter by format</a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" asp-controller="Formats" asp-action="Index" asp-route-id="1">Hard cover</a>
                            <a class="dropdown-item" asp-controller="Formats" asp-action="Index" asp-route-id="2">Soft cover</a>
                            <a class="dropdown-item" asp-controller="Formats" asp-action="Index" asp-route-id="3">Paperback</a>
                            <a class="dropdown-item" asp-controller="Formats" asp-action="Index" asp-route-id="4">Pocket</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter by condition</a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" asp-controller="Conditions" asp-action="Index" asp-route-id="1">Brand new</a>
                            <a class="dropdown-item" asp-controller="Conditions" asp-action="Index" asp-route-id="2">Mint condition</a>
                            <a class="dropdown-item" asp-controller="Conditions" asp-action="Index" asp-route-id="3">Used condition</a>
                            <a class="dropdown-item" asp-controller="Conditions" asp-action="Index" asp-route-id="4">Poor condition</a>
                        </div>
                    </li>
                </ul>
                <font color="white">@User.Identity.Name</font>
                <a class="me-auto nav-link text-light ml-auto" asp-area="" asp-controller="Orders" asp-action="Index">See all orders</a>
                <a class="me-auto nav-link text-light ml-auto" asp-area="" asp-controller="Books" asp-action="CheckOut">Check out</a>
                <a class="me-auto nav-link text-light ml-auto" asp-area="" asp-controller="Auth" asp-action="SignOut">Sign Out</a>
            }
            else
            {
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignUp">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="SignIn">Sign In</a>
                    </li>
                </ul>
            }

        </div>
    </div>
</nav>