
<div class="text-center">
    <br>
    <h1 class="display-4">The Used Book Store</h1>
        <h2 class="fw-light">Where litterature doesn't die</h2>
        <br>
        <img src="https://preview.free3d.com/img/2019/05/2273099121353032746/nd7rrf5r-900.jpg" alt="">
</div>    